body {
	margin: 0;
	font-size: 1.77rem;
}

a:link, a:visited,a:active {
	text-decoration: none;
}

p {
	margin-top: .223rem;
	margin-bottom: .223rem;
}

span.small {
	text-align: right;
	font-size: 1.5rem;
}

