nav {
	display: block;
	margin-top: 0.223em;
	width: 100%;
}

nav > a {
	display: inline-block;
	border: 0.556em;
	background-color: #EEEEEE;
	padding: 0.5em;
	padding-right: 0.765em;
	text-align: center;
}

nav > a:link, a:visited, a:active {
	text-decoration: none;
	color: black;
} 

nav > a:hover {
	text-decoration: underline;
	color:#33C3F0;
	background-color: white;
}

nav > #radiolink {
 	text-decoration: none;
 	color: black;
 	background-color: white;
} 

nav > #radiolink:hover {
 	text-decoration: underline;
 	color: black;
 	background-color: #FFEAF2;

