<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#FFEAF2">
  <meta http-equiv="cache-control" content="no-cache">

  <title>Idolm@ster Radio</title>

  <meta name="description" content="Idolm@ster Online Streaming Radio">
  <meta name="author" content="Nicci00">

  <link rel='shortcut icon' type='image/png' sizes="256x256" href="{{url_for('static', filename='img/favicon.png', _external=True)}}" />

  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Raleway:400,300,600">

  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='lib/Skeleton/css/skeleton.css', _external = True)}}">
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='lib/Skeleton/css/normalize.css', _external = True)}}">
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='lib/css/font-awesome.min.css', _external = True)}}">

  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/nav.css', _external=True)}}">
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/radio.css', _external=True)}}">
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/volume_slider.css', _external=True)}}">

</head>

<body>
<div class="container">

  <div class="row">
    <nav class="u-full-width">
      <a class="navtitle" id="radiolink" href="/imas-radio/">Idolm@ster Radio</a>
      <a class="navlink" href="/imas-radio/song-list">Song list</a>
      <a class="navlink" href="/imas-radio/help"><i class="fa fa-question-circle"></i></a>
    </nav>
  </div>

  <div class="row">

    <div class="seven columns">

      <audio autoplay="autoplay" id="radio-player">
        {% if mobile %}
        <source src="http://shijou.moe:8000/imas-radio-lq.mp3" type="audio/mpeg"/>
        <source src="http://shijou.moe:8000/imas-radio.ogg" type="audio/ogg">
        {% endif%}
        <source src="http://shijou.moe:8000/imas-radio.ogg" type="audio/ogg">
        <source src="http://shijou.moe:8000/imas-radio-lq.mp3" type="audio/mpeg"/>

        <span class="small"> Sorry, your browser doesn't support HTML5 Audio.
        Please use one of the playlist files and your favourite desktop player</span>
      </audio>

      <div class="row" id="controls">

        <p>
          <strong><span id="art"></span></strong>
          <br />
          <span id="tit"></span>
        </p>

        <p>
          <a class="button" id="mp3-btn" href="javascript:;">mp3</a>
          <a class="button" id="ogg-btn" href="javascript:;">ogg</a>
        </p>

        <table class="volume-table"> <!--Using a table is such an awful hack-->
          <tr>
            <td>
              <i id="volume-icon" class="fa fa-volume-up"></i>
            </td>
            <td>
              <div class="volume" title="Set volume">
                <span class="volumeBar"></span>
              </div>
            </td>
          </tr>
        </table>

      </div>

    </div>

    <div class="five columns">
      <div id="side-image-box">
        <i id="spinner" class=""></i>
        <img id="side-image" alt="cute idol girl" class="u-max-full-width" src="/imas-radio/util/side-image/">
      </div>
      <div>
        <i class="fa fa-headphones"></i>  Current Listeners: <span id="lis"></span>
        <br/>
        <i class="fa fa-download"></i>  Download playlist file:
        <a href="http://shijou.moe:8000/imas-radio.ogg.m3u">ogg</a> |
        <a href="http://shijou.moe:8000/imas-radio-lq.mp3.m3u">mp3</a>
      </div>

      <div id="tunein-div">
          <iframe id="tuneinframe" src="http://tunein.com/embed/follow/s268531/" scrolling="no"></iframe>
          <a href="http://tunein.com/radio/Idolmster-Radio-s268531/">Now available on TuneIn!</a>
      </div>

    </div>
  </div> <!--Main row-->

</div><!--Container-->

<script type="text/javascript">
    var socket_url = String("{{ws_url}}")
</script>

<script type="text/javascript" src="{{url_for('static', filename='js/radio.js', _external=True)}}"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.2.min.js"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/volume_slider.js', _external=True)}}"></script>

</body>
</html>
