<!DOCTYPE html> 
<html lang="en">
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-122165507-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-122165507-1');
  </script>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#FFEAF2">

  <title>Idolm@ster Radio - News</title>

  <meta name="description" content="Idolm@ster Radio News">
  <meta name="author" content="Nicci00">

  <link rel='shortcut icon' type='image/png' sizes="256x256" href="{{url_for('static', filename='img/favicon.png', _external=True)}}" />
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Raleway:400,300,600">

  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='lib/Skeleton/css/skeleton.css', _external = True)}}">
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='lib/Skeleton/css/normalize.css', _external = True)}}">
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='lib/css/font-awesome.min.css', _external = True)}}">

  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/nav.css', _external=True)}}">
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/nosauce.css', _external=True)}}">

  <style type="text/css">
  .row {
    padding: 1.1em;
  }
</style>

</head>

<body>
  <div id="menuToggle">
    <input type="checkbox" />

    <span></span>
    <span></span>
    <span></span>

    <ul id="menu">
      <a class="navtitle" id="radiolink" href="/imas-radio/">
        <li>Idolm@ster Radio</li>
      </a>
      <a class="navlink" href="/imas-radio/song-list">
        <li>Song list</li>
      </a>
      <a class="navlink" href="/imas-radio/news">
        <li>News</li>
      </a>
      <a class="navlink" href="/imas-radio/donate">
        <li>Donate</li>
      </a>
      <a class="navlink" href="/imas-radio/help">
        <li>Help</li>
      </a>
    </ul>
  </div>

  <div class="container">

    <nav id="navbar">
        <a class="navtitle" id="radiolink" href="/imas-radio/">Idolm@ster Radio</a>
        <a class="navlink" href="/imas-radio/song-list">Song list</a>
        <a class="navlink" href="/imas-radio/news">News</a>
        <a class="navlink" href="/imas-radio/donate">Donate</a>
        <a class="navlink" href="/imas-radio/help"><i class="fa fa-question-circle"></i></a>
    </nav>

    <div class="row">
      <img src="{{url_for('static', filename='img/side_images/'+filename, _external=True)}}">
      <h4>
        The image "{{filename}}" has no known source. 
      </h4>
    </div>
  </div>
</body>

</html>
