<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">

  <title>Login</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='lib/Skeleton/css/skeleton.css', _external = True)}}">
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='lib/Skeleton/css/normalize.css', _external = True)}}">

  <link rel="icon" type="image/png" href="{{url_for('static', filename='img/favicon.png')}}">

  <style type="text/css">
  
  body {
    margin: 1.2%;
    font-family: 'Raleway', sans-serif;
  }
  </style>

</head>
<body>

<div class="container">
<a href="/admin/side_image_manager">Side Image Manager</a>

<br/>
<a href="/admin/logout">Bye</a>

</div> <!--container-->

</body>

