body {
  background-image: url('/util-random-idol');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 75% 100%;
  font-size: 2rem !important;
}

a:link, a:visited,a:active {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}

.title {
  font-size: 2rem !important;
  text-align: center;
}

.small {
  font-size: 1.5rem;
}

p.medium {
  font-size: 1.765rem;
}

span.fa {
  display: inline-block;
  margin-right: 0.3em;
  font-size: 1.7rem;
}

audio {
  text-align: center;
}

ul .dl-links {
  list-style-type: none;
  margin: 0;
}

.ribbon {
  font-size: 1.2em;
  font-weight: 500;
  width: 10em;
  background-image: -moz-linear-gradient(left, #33C3F0 0%, #26BAE8 100%); 
  background-image: linear-gradient(to right, #33C3F0 0%, #55ACEE 100%);
  position: absolute;
  top: 1.4em;
  left: -3em;
  text-align: center;
  line-height: 2.5em;
  color: #f0f0f0;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  z-index: 1030;
}