
body {
  background-image: url('/util-random-idol');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 75% 100%;
  background-size: 21.5%, 15%;
  font-size: 2em !important;
}

a:link, a:visited,a:active {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}

.title {
  font-size: 2rem !important;
  text-align: center;
}

.small {
  font-size: 1.5rem;
}

span.fa {
  display: inline-block;
  margin-right: 0.3em;
  font-size: 1.7rem;
}

audio {
  text-align: center;
}

ul .dl-links {
  list-style-type: none;
  margin: 0;
}

iframe {
  overflow: hidden;
  height: auto;
  width: 100%;
  border-style: none;
}

#info-thingy {
  margin-bottom: 0; 
}