body {
  background-image: url("/static/img/takane3.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 75% 100%;
  background-size: auto 70%;
  margin-top: 15.34%;
  margin-right: 21.5%;
  margin-left:21.5%;
  background-color: #B1B1B1;
  font-size: 2.23rem;
}

a:link, a:visited,a:active {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}
