body {
  background-image: url('../img/takane_portrait.jpg') !important;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 75% 100%;
  background-size: auto 70%;
  margin-top: 2%;
}

a:link, a:visited,a:active {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}

span.fa {
  display: inline-block;
  margin-right: 0.5em;
  font-size: 2rem;
}

.japanese {
  font-size: .72em;
  font-weight: 200;
}

div.row {
  margin: 3%;
}