footer {
  position: absolute;
  left: 80%;
  top: 95%;

}
footer > a {
  color: #666666 !important;
  font-size: 0.6em;
}

body {
  background-image: url("/static/img/63062438_p1_master1200.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 75% 100%;
  background-size: auto 70%;
  margin-top: 15.34%;
  margin-right: 21.5%;
  margin-left:21.5%;
  background-color: white;
  font-size: 2.23rem;
}

a:link, a:visited,a:active {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}

