a:link, a:visited, a:active {
text-decoration: none;
color: black;
}

a:hover {
text-decoration: underline;
color:#33C3F0;
background-color: white;
}

.row {
  padding: 1.1em;
}

div.row.title {
  text-align: center;
}

img {
  display: block;
}

.small {
  font-size: 1.5rem;
}

td {
	border-style: none;
}

td.button-cell {
	width: 50%;
	margin: 0;
	padding: 0;
	text-align: center !important;
}

div #controls > p {
  margin: 0;
  padding: 0.556em;
}

div.five.columns > ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0.765em;
}

td {
    padding: 0.177em;
}

div #side-image-box {
  border-width: 1px;
  border-style: solid;
  border-color: #EEEEEE;
  padding: 0.223em;

  display: inline-block;
  position: relative;
}


#spinner {
  font-size: 2em;

  display: block;

  position: absolute;
  top: 47.5%;
  left: 47.5%;
  transform: translate(-47.5%, -47.5%);
}

#tunein-div{
  padding-top: .765em;
}

#tunein-div iframe {
  border: none;
  width: 65px;
  height: 22px;
  padding-right: .223em;
}
#tunein-div > iframe, a {
  vertical-align:middle
}

#tunein-div > a, #tunein-div > a:visited, #tunein-div > a:active {
  color: #36B4A7;
}
#tunein-div > a:hover {
  color: #36B4A7;
  text-shadow: 0.7px 0.7px 1px #36B4A7;
}
