/* VOLUME BAR CSS */

/* volume bar */
 .volume {
    position:relative;
    cursor:pointer;
    width: 220px;
    height:12px;
    float:left;
    background-color: #EEEEEE; 
}
.volumeBar {
    display:block;
    height:12px;
    position:absolute;
    top:0;
    left:0;
    background-color:#7E7E7E;
    z-index:10;
    width: 90%;
}

.volume3 {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 50px 100px;
    border-color: transparent transparent #007bff transparent;
    line-height: 0px;
}

td {
    padding: 0.177em;
}