<!DOCTYPE html>
<head>
	<title>404</title>
	<link rel='shortcut icon' type='image/png' href="{{url_for('static', filename='img/favicon.png, _external=True')}}" />
	<style type="text/css">
	body {
		text-align: center;
		font-family: sans-serif;
		font-style: 1.4em;
	}
	</style>
</head>
<body>
	<p> 404 - oops </p>

	<iframe width="640" height="480" src="https://www.youtube.com/embed/oDIsGyapXq0" frameborder="0" allowfullscreen></iframe>

	<p>That's no good! We couldn't find the page you requested. Wanna go back? <a href="/">Return to homepage</a></p>
</body>
