<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='3rdparty/Skeleton/css/skeleton.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='3rdparty/Skeleton/css/normalize.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='3rdparty/css/font-awesome.min.css')}}">

	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Raleway:400,300,600">

	<style type="text/css">
		body{
			margin: 0;
			font-size: 1.77rem;
		}
		a:link, a:visited,a:active {
  			text-decoration: none;
  			color: black;
		}

		a:hover {
  			text-decoration: underline;
		}

		p {
			margin-top: .223rem;
			margin-bottom: .223rem;
		}

		span.small {
			text-align: right;
			font-size: 1.5rem;q
		}

	</style>

	<script type="text/javascript">

	function timestamp(){
		return "[" + String(Math.floor(Date.now() / 1000)) + "] ";
	}

	var ws = new WebSocket('ws://shijou.moe:8080/');

	ws.onopen = function(){
		console.log(timestamp() + "Connected alright")
	}

	ws.onmessage = function(event) {

		console.log(timestamp() + "Got data from server alright");

		var data = JSON.parse(event.data)
		document.getElementById("art").innerHTML = data.artist;
		document.getElementById("tit").innerHTML = data.title;
		document.getElementById("lis").innerHTML = data.listeners;
	};
	</script>
</head>
<body>

<p>Artist(s): <span id="art"></span></p>
<p>Title: <span id="tit"></span></p>
<p>Current Listeners: <span id="lis"></span></p>

<span class="small">Stuck? <a onclick="location.reload()">Reload</a></span>

</body>
</html>
