<!DOCTYPE html>

<html lang="en">

<head>
  <title>Idolm@ster Radio</title>

  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel='shortcut icon' type='image/png' href="{{url_for('static', filename='img/favicon.png', _external=True)}}" />
  
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/fuck-chrome.css', _external = True)}}"> 

  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='3rdparty/Skeleton/css/skeleton.css', _external = True)}}">
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='3rdparty/Skeleton/css/normalize.css', _external = True)}}">
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='3rdparty/css/font-awesome.min.css', _external = True)}}">

  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Raleway:400,300,600">
</head>

<body>
<div class="container">

<div class="row title">
  <h1> Idolm@ster Radio</h1>
</div>

<noscript><h4>Whoops, some of this site's features require Javascript enabled in order to work.</h4></noscript>

<div class="row">

<div class="eight columns">

  <p id="info-thingy"><iframe src="/imas-radio/info"></iframe></p>

  <audio controls="controls" autoplay="autoplay" id="radio-player">
    <source src="http://shijou.moe:8000/imas-radio.ogg" type="audio/ogg">       
    <source src="http://shijou.moe:8000/imas-radio-lq.mp3" type="audio/mpeg"/>
    <span class="small"> Sorry, your browser doesn't support HTML5 Audio. Please use one of the playlist files and your favourite desktop player</span>
  </audio>
  <p>
    <span class="small">
      Select source: (
      <a href="javascript:void(0)" onclick="changeSource(MP3);">mp3</a>
      /
      <a href="javascript:void(0)" onclick="changeSource(OGG);">ogg</a>
      )
    </span>
  </p>

  <div id="irc-div">
    <iframe id="irc-box "src="https://kiwiirc.com/client/irc.rizon.net/?&amp;theme=basic#/imas/" style="border:0; width:100%; height:550px;"></iframe>
    <p><a class='small' href="javascript:void(0)" id="remove-irc">Hide IRC</a></p>
  </div>
</div>

<div class="three columns sidebar">
  <ul class="fa-ul">
    <li><i class="fa fa-li fa-list"></i><a href="/imas-radio/song-list">Current song list</a></li>
    <li><i class="fa fa-li fa-wheelchair"></i><a href="https://8ch.net/imas/res/1443.html">8chan /imas/ thread</a></li>
    <li><i class="fa fa-li fa-download"></i>Download
      <ul class="dl-links">
        <li><a href="http://shijou.moe:8000/imas-radio.ogg.m3u">ogg (high quality)</a></li>
        <li><a href="http://shijou.moe:8000/imas-radio-lq.mp3.m3u">mp3 (low quality)</a></li>
      </ul>
    </li>
  </ul>
</div>

</div>

</div><!--container-->

<script type="text/javascript" src="{{url_for('static', filename='js/radio-main.js', _external=True)}}"/>
</body>

</html>
