<!DOCTYPE html>
<html>
<head>
  <title>Shijou Takane's secret fansite</title>
  <meta charset="UTF-8" />

  <link rel='shortcut icon' type='image/png' href="{{url_for('static', filename='img/favicon.png', _external=True)}}" />

  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='3rdparty/Skeleton/css/skeleton.css')}}">
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='3rdparty/Skeleton/css/normalize.css')}}">
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='3rdparty/css/font-awesome.min.css', _external=True)}}">

  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/index-style.css')}}">
</head>

<body>
	<ul class="fa-ul">
	<li><i class="fa fa-li fa-music"></i><a href="/imas-radio">iDOLM@STER Radio</a></li>
</ul>


</body>
</html>
