<!DOCTYPE html>
<html>

<head>
  <title>Shijou Takane's secret fansite</title>
  <meta charset="UTF-8" />

  <link rel='shortcut icon' type='image/png' href="{{url_for('static', filename='img/favicon.png', _external=True)}}" />

  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='3rdparty/Skeleton/css/skeleton.css')}}">
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='3rdparty/Skeleton/css/normalize.css')}}">
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='3rdparty/css/font-awesome.min.css', _external=True)}}">

  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/index-style.css')}}">
</head>

<body>
<div class="container">

<div class="row">

<h4> about me / acerca de mí / <span class="japanese">私について</span></h4>

I'm a 20 years old computer engineering student from Santiago, Chile.

</div>

<div class="row">
	<h4> projects / projectos / <span class="japanese">プロジェクト</span></h4>
	<p><a href="imas-radio">Idolmaster Radio</a></p>
	<p><a href=""> Videos </a></p>
</div>


</div> <!--Container-->

</body>

</html>
