<!DOCTYPE html>
<html>

<head>
  <title>Shijou Takane's secret fansite</title>
  <meta charset="UTF-8" />

  <link rel='shortcut icon' type='image/png' href="{{url_for('static', filename='img/favicon.png', _external=True)}}" />

  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='3rdparty/Skeleton/css/skeleton.css')}}">
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='3rdparty/Skeleton/css/normalize.css')}}">
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='3rdparty/css/font-awesome.min.css', _external=True)}}">

  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/index-style.css')}}">
</head>

<body>
<div class="container">

<div class="row">

<h4> about me / acerca de mí / <span class="japanese">私について</span></h4>

<p>i am a computer engineering student from santiago, chile<p>

<ul class="fa-ul">
	<li><i class="fa fa-li fa-lastfm"></i><a href="http://www.last.fm/user/Nicci00">my music taste</a></li>
	<li><i class="fa fa-li fa-twitter"></i><a href="http://twitter.com/NicciTori">my tweets</a></li>
	<li><i class="fa fa-li fa-github"></i><a href="https://github.com/Nicci00">my code</a></li>
</ul>

</div>

<div class="color-bar"></div>

<div class="row">
	<h4> projects / projectos / <span class="japanese">プロジェクト</span></h4>
	<ul>
		<li><a href="imas-radio">idolmaster radio</a></li>
		<li><a href="http://video.shijou.moe"> videos </a></li>
		<li><a href="its-happening/"></a>happening simulator</li>
	</ul>
</div>


</div> <!--Container-->

</body>

</html>
