<html>
<head>
	<meta charset='utf-8'>
	<title>It's happening!</title>
	<style type="text/css">
		body {
			background-image: url("{{url_for('static', filename='img/doompaul.jpg')}}");
			background-size: 100% auto;
			background-repeat: no-repeat;
		}
	</style>
</head>

<body>
<audio autoplay="autoplay" loop="loop">
	<source src="{{url_for('static', filename='sound/happening.ogg')}}"type="audio/ogg">
	<source src="{{url_for('static', filename='sound/happening.mp3')}}"type="audio/mpeg">
</audio>
</body>

</html>